.blog-details div {
  margin: 20px 0;
  text-align: justify;
  line-height: 1.7;
  font-size: 1.2rem;
}
.blog-details h2 {
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  transform: capitalize;
}
.blog-details p {
  text-align: justify;
  font-style: italic;
}
